<footer class="mt-auto py-8 px-6 text-center">
  <p class="text-xs text-ink-dim">
    &copy; {new Date().getFullYear()} learn-with-me | Built with ❤️ by <a
      href="https://herloncosta.netlify.app"
      class="underline">Herlon Costa</a
    >.
  </p>
</footer>
